*
!*/

!/.gitignore
!/.gitattributes
!/README.md
!/LICENSE
!/docs/**

!/vehicles/qlourie_astral_r/**/*.jbeam
!/vehicles/qlourie_astral_r/lua/controller/*.lua
!/vehicles/qlourie_astral_r/*.pc
!/vehicles/qlourie_astral_r/info.json
!/vehicles/qlourie_astral_r/info_*.json
!/vehicles/qlourie_astral_r/main_materials.json
!/vehicles/qlourie_astral_r/main_materials2.json
!/vehicles/qlourie_astral_r/aux_materials.json
!/vehicles/qlourie_astral_r/license.txt
!/art/sound/blends/*.sfxBlend2D.json
!/locales/translations/**/*.json

!/vehicles/qlourie_astral_r/default.jpg
!/vehicles/qlourie_astral_r/rally1_gravel_prototype_2022.jpg
!/vehicles/qlourie_astral_r/rally1_tarmac_prototype_2025.jpg
!/vehicles/qlourie_astral_r/rally2_gravel_arctic.jpg
!/vehicles/qlourie_astral_r/rally2_gravel_balanced.jpg
!/vehicles/qlourie_astral_r/rally2_gravel_finland.jpg
!/vehicles/qlourie_astral_r/rally2_gravel_safari.jpg
!/vehicles/qlourie_astral_r/rally2_tarmac_balanced.jpg
!/vehicles/qlourie_astral_r/rally2_tarmac_circuit.jpg
!/vehicles/qlourie_astral_r/rally2_tarmac_croatia.jpg
!/vehicles/qlourie_astral_r/rally2_tarmac_monte.jpg
!/vehicles/qlourie_astral_r/rx1.jpg
!/vehicles/qlourie_astral_r/rx3.jpg
!/vehicles/qlourie_astral_r/wrc+_gravel_arctic.jpg
!/vehicles/qlourie_astral_r/wrc+_gravel_balanced.jpg
!/vehicles/qlourie_astral_r/wrc+_gravel_finland.jpg
!/vehicles/qlourie_astral_r/wrc+_gravel_safari.jpg
!/vehicles/qlourie_astral_r/wrc+_tarmac_balanced.jpg
!/vehicles/qlourie_astral_r/wrc+_tarmac_circuit.jpg
!/vehicles/qlourie_astral_r/wrc+_tarmac_croatia.jpg
!/vehicles/qlourie_astral_r/wrc+_tarmac_monte.jpg
!/vehicles/qlourie_astral_r/wrc_gravel_balanced.jpg
!/vehicles/qlourie_astral_r/wrc_tarmac_balanced.jpg

/.codex/
/.tmp/
**/*.tmp
**/*~

